<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <DirectoryRef Id="XNAClient">
      <Directory Id="Content" Name="Content" />
    </DirectoryRef>
  </Fragment>
  <Fragment>
    <ComponentGroup Id="XNAClient">
      <Component Id="Nuclex.Input.dll" Directory="XNAClient" Guid="*">
        <File Id="Nuclex.Input.dll" KeyPath="yes" Source="$(var.XNAClientDir)\Nuclex.Input.dll" />
      </Component>
      <Component Id="Nuclex.Support.dll" Directory="XNAClient" Guid="*">
        <File Id="Nuclex.Support.dll" KeyPath="yes" Source="$(var.XNAClientDir)\Nuclex.Support.dll" />
      </Component>
      <Component Id="Nuclex.UserInterface.dll" Directory="XNAClient" Guid="*">
        <File Id="Nuclex.UserInterface.dll" KeyPath="yes" Source="$(var.XNAClientDir)\Nuclex.UserInterface.dll" />
      </Component>
      <Component Id="nunit.framework.dll" Directory="XNAClient" Guid="*">
        <File Id="nunit.framework.dll" KeyPath="yes" Source="$(var.XNAClientDir)\nunit.framework.dll" />
      </Component>
      <Component Id="SlimDX.DirectInput.dll" Directory="XNAClient" Guid="*">
        <File Id="SlimDX.DirectInput.dll" KeyPath="yes" Source="$(var.XNAClientDir)\SlimDX.DirectInput.dll" />
      </Component>
      <Component Id="WarSpot.Client.XnaClient.exe" Directory="XNAClient" Guid="*">
        <File Id="WarSpot.Client.XnaClient.exe" KeyPath="yes" Source="$(var.XNAClientDir)\WarSpot.Client.XnaClient.exe" />
      </Component>
      <Component Id="WarSpot.Common.dll" Directory="XNAClient" Guid="*">
        <File Id="WarSpot.Common.dll" KeyPath="yes" Source="$(var.XNAClientDir)\WarSpot.Common.dll" />
      </Component>
      <Component Id="WarSpot.ConsoleComputer.exe" Directory="XNAClient" Guid="*">
        <File Id="WarSpot.ConsoleComputer.exe" KeyPath="yes" Source="$(var.XNAClientDir)\WarSpot.ConsoleComputer.exe" />
      </Component>
      <Component Id="WarSpot.Contracts.Intellect.dll" Directory="XNAClient" Guid="*">
        <File Id="WarSpot.Contracts.Intellect.dll" KeyPath="yes" Source="$(var.XNAClientDir)\WarSpot.Contracts.Intellect.dll" />
      </Component>
      <Component Id="WarSpot.Contracts.Service.dll" Directory="XNAClient" Guid="*">
        <File Id="WarSpot.Contracts.Service.dll" KeyPath="yes" Source="$(var.XNAClientDir)\WarSpot.Contracts.Service.dll" />
      </Component>
      <Component Id="WarSpot.MatchComputer.dll" Directory="XNAClient" Guid="*">
        <File Id="WarSpot.MatchComputer.dll" KeyPath="yes" Source="$(var.XNAClientDir)\WarSpot.MatchComputer.dll" />
      </Component>
      <Component Id="menufont.xnb" Directory="Textures" Guid="*">
        <File Id="menufont.xnb" KeyPath="yes" Source="$(var.XNAClientDir)\Content\Textures\menufont.xnb" />
      </Component>
      <Component Id="creature_1.xnb" Directory="GameSprites" Guid="*">
        <File Id="creature_1.xnb" KeyPath="yes" Source="$(var.XNAClientDir)\Content\Textures\GameSprites\creature_1.xnb" />
      </Component>
      <Component Id="creature_2.xnb" Directory="GameSprites" Guid="*">
        <File Id="creature_2.xnb" KeyPath="yes" Source="$(var.XNAClientDir)\Content\Textures\GameSprites\creature_2.xnb" />
      </Component>
      <Component Id="grass.xnb" Directory="GameSprites" Guid="*">
        <File Id="grass.xnb" KeyPath="yes" Source="$(var.XNAClientDir)\Content\Textures\GameSprites\grass.xnb" />
      </Component>
      <Component Id="hedge.xnb" Directory="GameSprites" Guid="*">
        <File Id="hedge.xnb" KeyPath="yes" Source="$(var.XNAClientDir)\Content\Textures\GameSprites\hedge.xnb" />
      </Component>
      <Component Id="loadingScreen.xnb" Directory="Screens" Guid="*">
        <File Id="loadingScreen.xnb" KeyPath="yes" Source="$(var.XNAClientDir)\Content\Textures\Screens\loadingScreen.xnb" />
      </Component>
      <Component Id="mainMenuScreen.xnb" Directory="Screens" Guid="*">
        <File Id="mainMenuScreen.xnb" KeyPath="yes" Source="$(var.XNAClientDir)\Content\Textures\Screens\mainMenuScreen.xnb" />
      </Component>
      <Component Id="message_box.xnb" Directory="Screens" Guid="*">
        <File Id="message_box.xnb" KeyPath="yes" Source="$(var.XNAClientDir)\Content\Textures\Screens\message_box.xnb" />
      </Component>
      <Component Id="screen_02.xnb" Directory="Screens" Guid="*">
        <File Id="screen_02.xnb" KeyPath="yes" Source="$(var.XNAClientDir)\Content\Textures\Screens\screen_02.xnb" />
      </Component>
    </ComponentGroup>
  </Fragment>
  <Fragment>
    <DirectoryRef Id="Textures">
      <Directory Id="GameSprites" Name="GameSprites" />
    </DirectoryRef>
  </Fragment>
  <Fragment>
    <DirectoryRef Id="Textures">
      <Directory Id="Screens" Name="Screens" />
    </DirectoryRef>
  </Fragment>
  <Fragment>
    <DirectoryRef Id="Content">
      <Directory Id="Textures" Name="Textures" />
    </DirectoryRef>
  </Fragment>
</Wix>