<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <?define ProductBaseName="WarSpot"?>
  <?define ProductName="WarSpot.Client" ?>
  <?define ProductVersion="1.0.0.1" ?>
  <!--
  <?define ProductVersion="!(bind.FileVersion.WarSpotCommon)" ?>
-->
  <?define ProductCode="b7bc7c6f-9a4e-4973-be84-eca8e3427c97"?>
  <?define UpgradeCode="48dbcab5-ca21-47d5-b0d6-970d5bd70082"?>
  <?define Manufacturer="WarSpot"?>
  
<!--
  <?define ContentPath="$(var.WarSpot.Client.XnaClient.TargetPath)\Content"?>
-->

<Product 
      Id="*" 
      Name="$(var.ProductName)"
      Language="1033" 
      Version="$(var.ProductVersion)" 
      Manufacturer="$(var.Manufacturer)" 
      UpgradeCode="$(var.UpgradeCode)">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
		<Media Id="1" Cabinet='Sample.cab' EmbedCab='yes'/>

		<Feature Id="ProductFeature" Title="WarSpot.Client" Level="1">
      <!-- 
      <ComponentRef Id="ProductComponent"/>
      <ComponentRef Id="ProductContents"/>
      <ComponentRef Id="Content"/>
      <ComponentGroupRef Id="ProductComponents" />
      <ComponentRef Id="ConsoleComputer" />
        -->
      <ComponentGroupRef Id="XNAClient" />
    </Feature>

    <!-- 
    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLLOCATION" ></Property>
      <WixVariable Id="WixUILicenseRtf" Overridable="yes" Value="License.rtf"/>
    <UIRef Id="WixUI_InstallDir"/>
        -->

  </Product>

	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLFOLDER" Name="$(var.ProductBaseName)">
          <Directory Id="XNAClient">
          </Directory>
          <!-- 
          <Directory Id="ContentDir" Name="Contents">
            <Component Id="ProductContents" Guid="{7A6ADB36-C73B-4E17-9CAC-A89305497136}">
              <File Id="menufont" Name="menufont.xnb"
                    Source="$(var.WarSpot.Common.TargetDir)\Content\Textures\menufont.xnb"></File>
            </Component>
          </Directory>
            <Component Id="ProductComponent" Guid="{b11556a2-e066-4393-af5c-9c9210187eb2}">
            <File Id="WarSpotCommon" Name="WarSpot.Contracts.Intellect.dll" 
                  Source="$(var.WarSpot.Common.TargetDir)"></File>
            
            -->
            <!-- 
            <File Id='WarSpot.Contracts.Intellect' 
                  DiskId='1' 
                  Source='WarSpot.Contracts.Intellect.dll'/>
                </Component>
          <Component Id="XNAClient" Guid="{7E71FBA0-BDB5-43D2-B71F-518D11062AF0}">
            <File Source="$(var.WarSpot.Client.XnaClient.TargetPath)" />
          </Component>
          <Component Id="ConsoleComputer" Guid="{183D543D-6359-4F56-A43A-8A7BA4228117}">
            <File Source="$(var.WarSpot.ConsoleComputer.TargetPath)" />
          </Component>
        -->

        </Directory>
      </Directory>
		</Directory>
	</Fragment>

  <Fragment>

    <!-- 

    <DirectoryRef Id="INSTALLFOLDER" FileSource="redist">
      <Component Id="ProductComponent" Guid="b11556a2-e066-4393-af5c-9c9210187eb2">
        <File Id='WarSpot.Contracts.Intellect' DiskId='1' Name='WarSpot.Contracts.Intellect.dll'/>
      </Component>
    </DirectoryRef>
        -->

  </Fragment>

  <!-- 
	<Fragment>
		<ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
        <ComponentRef Id="ProductComponent"/>
        <ComponentRef Id="ProductContents"/>
      
      </ComponentGroup>
	</Fragment>
  -->

</Wix>