@model List<WarSpot.WebFace.Models.GameModel>
@{
}
<table border="0">
  <tr>
	<td>@Html.ActionLink("Новая игра", "Create")
	</td>
  </tr>
</table>
@if (!Model.Any())
{
  <h3>
    Игры отсутствуют.</h3>
}
else
{
  <h3>
    Список игр:</h3>
  <table>
    @foreach (var m in Model)
		{
			string s = "";
      if (m.Replay == null)
      {
        s = "В очереди";
      }
      else
      {
        s = Html.ActionLink("Скачать", "Download", new { id = m.Id }).ToHtmlString();
      }
      <tr>
        <td>
          @Html.ActionLink(m.Name, "Details", new { id = m.Id })
        </td>
        <td>
          @m.CreationTime
        </td>
        <td>
          @Html.Raw(s)
        </td>
      </tr>	
    }
  </table>
}
