<!--summary:  One-sentence summary of this page.-->
<!--labels:  Featured-->
<br/>
<h1> Регламент турниров </h1>
<br/>
Турнир в терминах WarSpot - это соревнование интеллектов 2 и более разных пользователей.
<br/>
У каждого турнира есть максимальное число участников и время начала. До наступления времени начала у пользователей есть возможность зарегистрироваться на турнир или отказаться от регистрации. В случае регистрации последний загруженный пользователем интеллект считается участвующим в турнире. При этом у пользователя есть возможность до начала турнира сменить интеллект-участник.
<br/>
Турнир проходит по системе "все против всех". За победу над соперником интеллекту начисляется 1 очко. При равенстве очков разрешения ничьей в настоящее время не производится, и все участники с одинаковым количеством очков занимают одно место.
<br/>
Для определения победителя по результатам недели после окончания расчёта результатов последнего из них проводится финал, в котором принимают участие игроки, занявшие призовые (1, 2 и 3) места в ежедневных турнирах. Учатсники, занявшие призовые места в финале, получают призы турнира.
<br/>
Результаты турнира отображаются на сайте WarSpot.
