<!--labels:  Featured-->
Мир - дискретное поле фиксированных размеров с замыканием верхней границы на нижнюю и левой на паравую (топологически эквивалентно тору).
<br/>
Обработка событий пошаговая.
<br/>
Цикл обработки одного шага:
<ul> <li> Опрос всех существ о желаемом действии в этот ход (см. <a href="GameActionsFullDescription">GameActionsFullDescription</a> для описания всех доступных действий)</li>
<li> Попытка применения всех желаемых действий (при этом порядок обработки действий случаен! Реальное выполнение действий также не гарантируется: ситуация в мире могла измениться, например исчерпался источник энергии)</li>
<li> Очистка мира от погибших существ</li>
<li> Проверка конца матча: остались существа только одной команды</li>
