@using WarSpot.WebFace.Security
@model List<KeyValuePair<Guid, string>>
@{
  ViewBag.Title = "Интеллекты ваших существ";
}
@Html.ActionLink("Загрузить интеллект", "UploadAI")
<h3>
  Список загруженных интеллектов</h3>
<table>
  <tr>
    <td>
      <b>Имя</b>
    </td>
  </tr>
  @foreach (var i in Model)
  {
    <tr>
      <td>@Html.ActionLink(i.Value, "Details", new { id = i.Key })
      </td>
      @if ((User.Identity as CustomIdentity).IsInRole("Developer"))
      {
        <td>@i.Key
        </td>
      }
    </tr>
  }
</table>
