<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.diagnostics>
        <trace>
            <listeners>
                <add type="Microsoft.WindowsAzure.Diagnostics.DiagnosticMonitorTraceListener, Microsoft.WindowsAzure.Diagnostics, Version=1.8.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
                    name="AzureDiagnostics">
                    <filter type="" />
                </add>
            </listeners>
        </trace>
    </system.diagnostics>
  <system.serviceModel>
    <services>
      <service name="WarSpot.Cloud.UserService.WarSpotMainUserService" behaviorConfiguration="MainServiceBehavior">
        <endpoint contract="WarSpot.Contracts.Service.IWarSpotService" binding="netTcpBinding" address="/WarspotUserService"
                   bindingConfiguration="MainServiceBinding"/>
        <endpoint address="mex" binding="netTcpBinding" bindingConfiguration="mexTcp" contract="IMetadataExchange"/>
      </service>
    </services>
    <bindings>
      <netTcpBinding>
        <binding name="MainServiceBinding" sendTimeout="0:1:0" receiveTimeout="0:1:0" hostNameComparisonMode="Exact"
                 closeTimeout="0:1:0" maxBufferSize="1000000" maxBufferPoolSize="1000000" portSharingEnabled="true"
                 openTimeout="0:1:0" maxReceivedMessageSize="1000000" maxConnections="100">
          <security mode="None"/>
        </binding>
        <binding name="mexTcp" portSharingEnabled="true">
          <security mode="None"/>
        </binding>
      </netTcpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="MainServiceBehavior">\
          <!-- Чтобы не допустить раскрытия метаданных, следует установить значение False для указанного ниже параметра и удалить указанную выше конечную точку метаданных перед развертыванием -->
          <serviceMetadata/>
          <!-- Чтобы получать сведения об исключении при сбоях для отладки, следует установить значение True для указанного ниже параметра. Следует установить значение False для этого параметра перед развертыванием, чтобы не допустить раскрытия сведений об исключении -->
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true"/>
  </system.serviceModel>
</configuration>