<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <!--  Для сбора трассировок диагностики раскомментируйте расположенный ниже раздел или объедините с существующим разделом system.diagnostics.
        Чтобы сохранить трассировки в хранилище, обновите параметр DiagnosticsConnectionString, используя свои учетные данные хранилища.
        Во избежание снижения производительности не забудьте отключить трассировку в производственных развертываниях.
  <system.diagnostics>     
    <sharedListeners>
      <add name="AzureLocalStorage" type="WarSpot.Cloud.UserService.AzureLocalStorageTraceListener, WarSpot.Cloud.UserService"/>
    </sharedListeners>
    <sources>
      <source name="System.ServiceModel" switchValue="Verbose, ActivityTracing">
        <listeners>
          <add name="AzureLocalStorage"/>
        </listeners>
      </source>
      <source name="System.ServiceModel.MessageLogging" switchValue="Verbose">
        <listeners>
          <add name="AzureLocalStorage"/>
        </listeners>
      </source>
    </sources> 
   </system.diagnostics> -->
  <system.diagnostics>
    <trace>
      <listeners>
        <add type="Microsoft.WindowsAzure.Diagnostics.DiagnosticMonitorTraceListener, Microsoft.WindowsAzure.Diagnostics, Version=1.7.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
          name="AzureDiagnostics">
          <filter type="" />
        </add>
      </listeners>
    </trace>
  </system.diagnostics>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- Чтобы не допустить раскрытия метаданных, следует установить значение False для указанного ниже параметра и удалить указанную выше конечную точку метаданных перед развертыванием -->
          <serviceMetadata httpGetEnabled="true"/>
          <!-- Чтобы получать сведения об исключении при сбоях для отладки, следует установить значение True для указанного ниже параметра. Следует установить значение False для этого параметра перед развертыванием, чтобы не допустить раскрытия сведений об исключении -->
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        Для просмотра корневого каталога веб-приложения при отладке задайте ниже значение true.
        Перед развертыванием задайте значение false во избежание раскрытия сведений о папке веб-приложения.
    -->
    <directoryBrowse enabled="true"/>
  </system.webServer>
</configuration>
