<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.serviceModel>
    <services>
      <service name="Chat.ChatService">
        <endpoint address="http://localhost:8080/Chat" binding="wsHttpBinding" contract="Chat.IChatService"/>
      </service>
    </services>
  </system.serviceModel>
</configuration>