@model dynamic

@{
}

@using (Html.BeginForm("UploadAI", "AI", FormMethod.Post, new { enctype = "multipart/form-data" }))

{ 
	<div>
		Файл для загрузки:
		<input name="file" type="file" />
	</div>
	<div>
  <input type="submit" value="Загрузить"/>            
	</div>
}