<!--summary:  Battle and economic rules of the game.-->
<br/>
<h1> Краткие правила </h1>
<br/>
<br/>
<br/>
#Details
<br/>
<br/>
<br/>
<br/>
<b>Каждый ход</b>:
<pre>
0.1% * MaxHealth + // просто выживание
0.05% <b> MaxSeeDistance </b> MaxSeeDistance + // энергия на зрение
0.3% * MaxStep // если быстрый, значит голодный
</pre>
<br/>
<b>Удар(n)</b>: (20%(максимального здоровья) + n) энергии. Выдаёт n урона заданному объекту, находящемуся не далее 3 клеток (сумма x+y).
<br/>
<b>Питание</b>: 0 энергии. Восполняет не больше 20% энергии за ход. Удаляет с клетки столько же энергии.
<br/>
<b>Лечение(n)</b>: До 60% Энергии. Восполняет здоровье существу в указанной клетке, находящейся не далее 3 клеток (сумма x+y), на n/3 единиц.
<br/>
<b>Передвижение(x,y)</b> : Стоит: (<td>x</td>+<td>y</td>)<tt>*</tt>(максимальное здоровье)/100 энергии. Координаты (x, y) относительные. Перемещение произойдёт, если: на него хватит энергии, целевая клетка не будет занята и <td>x</td>+<td>y</td> <= MaxStep.
<br/>
<b>Передать энергию(n)</b>: Стоит ((10% от максимального здоровья)+n). Передаёт существу в указанной клетке n энергии. Если целевая клетка окажется пустой, энергия отправится в эту клетку.
<br/>
<b>Смерть</b><a href="не">действие</a>: Существо пропадает. На его месте появляется энергия (вся оставшаяся у него энергия + его максимальное здоровье/5).
<br/>
<b>Рождение отпрыска</b>:
При рождении пользователь задаёт максимальное здоровье, максимальную длину шага, радиус видимости.
Игрок сам определяет, с какими свойствами рожать начальных существ. На это даётся 100 энергии.
<br/>
Рожать можно лишь при наличии 80% здоровья.
Можно родить существо с таким максимумом жизней, от которого у тебя есть 90% энергии.
Существо рождается с 30% энергии и 60% здоровья в соседней пустой клетке (если она есть, иначе не рождается).
На рождение затрачивается (80% максимального здоровья ребёнка) энергии.
Радиус видимости стоит стоит (n/2)^2.
Максимальный размер шага стоит n^2.
