<!--summary:  Small guide for end users: writing intellect.-->
<br/>
<h2> Введение </h2>
<br/>
Этот документ описывает процесс создания простого интеллекта существа для игры WarSpot.
<br/>
В разделе <a href="http://warspot.cloudapp.net/File">Файлов</a> доступен актуальный готовый пример интеллекта, его достаточно лишь скомпилировать и загрузить на серверы WarSpot.
<br/>
<h2> Подготовка  </h2>
<br/>
<h3> Установка </h3>
Для начала Вам надо поставить Microsoft Visual Studio 2010/2012 с пакетом разработки для .NET 4.0. 
<br/>
    Вы можете использовать другие средства разработки и компиляции .NET библиотеки <b>на свой страх и риск</b>, но официально такие способы разработки не поддерживаются.
<br/>
<h3> Создание проекта </h3>
Далее Вы можете или использовать скаченный пример, или создать проект сами, для этого:
<ol> <li> Создайте в Visual Studio новый проект (.NET 4.0, Class Library)</li>
<li> Добавьте в Reference библитеку WarSpot.Contracts.Intellect, доступную в разделе <a href="http://warspot.cloudapp.net/File">Файлов</a></li>
</ol> 
<h3> Подготовка к отладке </h3>
Если Вы создаете интеллект с нуля, то для <b>удобства отладки</b> выполните следующие шаги :
<ol> <li> Скачайте WarSpot.ConsoleComputer (уже включен в поставку примера интеллекта).</li>
<li> Откройте свойства проекта-библиотеки</li>
<li> В разделе Debug в пункте  Start external program укажите полный путь к WarSpot.ConsoleComputer.exe</li>
<li> В пункте Command line arguments укажите <b>не менее двух</b> библиотек интерфейсов, простейщий вариант - укажите два раза свою библиотеку</li>
</ol> 
После выполнения всех этих действий вы легко сможете отлаживать свой класс существа, расставляя точки останова (Breakpoints) и запуская проект через Debug > Start Debugging.
<br/>
<h2> Правила </h2>
<br/>
Полные правила доступны в разделе <a href="Rules">Rules</a>. 
Вы должны предоставить скомпилированную dll - библиотеку содержащую класс существа.
Существа оказываются в некотором мире. Мир дискретный как по координатам так и по времени. Вашему существу доступны несколько действий и некоторая видимая площадь мира.
<br/>
<h2> Код и запуск </h2>
<ol> <li> Создайте класс и унаследуйте его от интерфейса <a href="http://code.google.com/p/warspot/source/browse/trunk/WarSpot.Contracts.Intellect/IBeingInterface.cs">IBeingInterface</a></li>
<li> Создайте два метода Contruct и Think с сигнатурами, соответствующими интерфейсу IBeingInterface</li>
<li> Реализуйте оба метода согласно вашим идеям. Ниже приведен пример реализации нескольких вспомогательных функций</li>
<li> При необходимости создайте дополнительные методы и поля класса</li>
<li> Скомпилируйте и запустите </li>
<li> Проанализируйте запись матча (для этого можно использовать одно из нескольких визуальных приложений)</li>
<li> Внесите необходимые правки в алгоритм</li>
<li> Если Вы выполнили шаги из раздела <b>Подготовка к отладке</b> или использовали пример существа, то поставьте точки останова во всех необходимых местах вашего кода.</li>
<li> Если Вы считаете, что Ваше существо готово к боям, то загружайте его на сервер через сайт WarSpot.</li>
</ol><br/>
<h3>Примеры вспомогательных функций</h3>
<br/>
<h4> Создаем класс, наследуем его от IBeingInterface </h4>
<div class="spoiler">
    <a href="#">Показать блок</a>
    <div style="display: none;" class="invisible">
        <pre>
        class Program : IBeingInterface
            {
                public BeingCharacteristics Construct(ulong step, float ci)
                {
                    throw new NotImplementedException();
                }
        <br/>
                public GameAction Think(ulong step, BeingCharacteristics characteristics, WorldInfo area)
                {
                    throw new NotImplementedException();
                }
            }
        </pre>
    </div>
  </div>
<br/>
<h4> Заполняем метод Construct </h4>
<div class="spoiler">
    <a href="#">Показать блок</a>
    <div style="display: none;" class="invisible">
        <pre>
        /// <summary>
        /// This method is called on every being creation. Your intellect should distribute Ci to being abilities.
        /// </summary>
        /// <param name="step">Step of the match</param>
        /// <param name="ci">Ci(Энергия) available for the constructing being.</param>
        /// <returns>Desired characteristic of the future being.</returns>
        public BeingCharacteristics Construct(ulong step, float ci)
        {
	        //Being characteristics may be different. It's you to decide. But remember about the cost.
	        return new BeingCharacteristics((ci - 13.0f) / 0.8f, 3.0f, 4);
        }
        </pre>
    </div>
  </div>
<br/>
<h4> Заполняем метод Think </h4>
В этом примере проводится проверка на количество здоровья у существа и в зависимости от результата запускает либо метод по самолечению (selfHeal), либо метод по созданию потомства (GameActionMakeOffspring), либо метод по поиску пищи (goEat). Позже будут приведены примеры реализации этих методов. Разумеется, это только пример, Вы можете использовать свои методы вдобавок, или взамен указанным.

<div class="spoiler">
    <a href="#">Показать блок</a>
    <div style="display: none;" class="invisible">
        <pre>
        /// <summary>
        /// Main function of the being. Here your code must make decision what the being shoud do.
        /// </summary>
        /// <param name="step">Current game step</param>
        /// <param name="characteristics">Currnet characteristics of this being.</param>
        /// <param name="area">Information about world in the visiable area.</param>
        /// <returns>GameAction that represents decision.</returns>
        public GameAction Think(ulong step, BeingCharacteristics characteristics, WorldInfo area)
        {			
	        // Here you can place a lot of decesions 
	        if (characteristics.Health < characteristics.MaxHealth && characteristics.Ci > characteristics.MaxHealth * 0.6f)
	        {
		        return selfHeal(characteristics);
	        }
	        else if (characteristics.Ci > 13.0f + characteristics.MaxHealth * 0.8f)
	        {
		        return new GameActionMakeOffspring(characteristics.Id, 13.0f + characteristics.MaxHealth * 0.8f);
	        }
	        else
	        {
		        return goEat(characteristics, area);
	        }
        }
        </pre>
    </div>
  </div>
<br/>
<h4> Реализация метода лечения </h4>
<div class="spoiler">
    <a href="#">Показать блок</a>
    <div style="display: none;" class="invisible">
        <pre>
        /// <summary>
        /// Heal itself
        /// </summary>
        ///  <param name="characteristics">Being characteristics</param>
        /// <returns>Return computed action</returns>
        private GameAction selfHeal(BeingCharacteristics characteristics)
        {
	        float _ci = 0.0f;
	        if (characteristics.Ci >= (characteristics.MaxHealth - characteristics.Health) * 3.0f)
	        {//Heal itself fully if it can
		        _ci = (characteristics.MaxHealth - characteristics.Health) * 3.0f;
        <br/>
		        if (_ci > characteristics.Ci * 0.6f)
		        {//If more than one permitted then reduces
			        _ci = characteristics.Ci * 0.6f;
		        }
	        }
	        else
	        {
		        _ci = Math.Abs(characteristics.Ci);
	        }
        <br/>
	        return new GameActionTreat(characteristics.Id, 0, 0, _ci);//In relative coordinates
        }
        </pre>
    </div>
  </div>
