<!--summary:  Small guide for end users: writing intellect.-->
<br/>
<h2> Введение </h2>
<br/>
Этот документ описывает процесс создания простого интеллекта существа для игры WarSpot.
<br/>
В разделе <a href="http://warspot.cloudapp.net/File">Файлов</a> доступен актуальный готовый пример интеллекта, его достаточно лишь скомпилировать и загрузить на серверы WarSpot.
<br/>
<h2> Подготовка  </h2>
<br/>
<h3> Установка </h3>
Для начала Вам надо поставить Microsoft Visual Studio 2010/2012 с пакетом разработки для .NET 4.0. 
<br/>
    Вы можете использовать другие средства разработки и компиляции .NET библиотеки <b>на свой страх и риск</b>, поддержка таких способов разработки осуществляться не будет.
<br/>
<h3> Создание проекта </h3>
Далее Вы можете или использовать скаченный пример, или создать проект сами, для этого:
<ol> <li> Создайте в Visual Studio новый проект (.NET 4.0, Class Library)</li>
<li> Добавьте в Reference библитеку WarSpot.Contracts.Intellect, доступную в разделе <a href="http://warspot.cloudapp.net/File">Файлов</a></li>
</ol> 
<h3> Подготовка к отладке </h3>
Если Вы создаете интеллект с нуля, то для <b>удобства отладки</b> выполните следующие шаги :
<ol> <li> Скачайте WarSpot.ConsoleComputer (уже включен в поставку примера интеллекта).</li>
<li> Откройте свойства проекта-библиотеки</li>
<li> В разделе Debug в пункте  Start external program укажите полный путь к WarSpot.ConsoleComputer.exe</li>
<li> В пункте Command line arguments укажите <b>не менее двух</b> библиотек интерфейсов, простейщий вариант - укажите два раза свою библиотеку</li>
</ol> 
После выполнения всех этих действий вы легко сможете отлаживать свой класс существа, расставляя точки останова (Breakpoint) и запуская проект через Debug > Start Debugging.
<br/>
== Правила == 
<br/>
Полные правила доступны в разделе <a href="Rules">Rules</a>. 
Вы должны предоставить скомпилированную dll - библиотеку содержащую класс существа.
Существа оказываются в некотором мире. Мир дискретный как по координатам так и по времени. Вашему существу доступны несколько действий и некоторая видимая площадь мира.
<br/>
== Код и запуск == 
<ol> <li> Создайте класс и унаследуйте его от интерфейса <a href="http://code.google.com/p/warspot/source/browse/trunk/WarSpot.Contracts.Intellect/IBeingInterface.cs">IBeingInterface</a></li>
<li> Создайте два метода Contruct и Think с сигнатурами, соответствующими интерфейсу IBeingInterface</li>
<li> Реализуйте оба метода согласно вашим идеям, конкретные детали доступны в разделе <a href="#Конкретная">реализация</a></li>
<li> При необходимости создайте дополнительные методы и поля класса</li>
<li> Скомпилируйте и запустите </li>
<li> Проанализируйте запись матча (для этого можно использовать одно из нескольких визуальных приложений)</li>
<li> Внесите необходимые правки в алгоритм</li>
<li> Если Вы выполнили шаги из раздела <a href="#Подготовка">к отладке</a> или использовали пример существа, то поставьте точки останова во всех необходимых местах вашего кода.</li>
<li> Если Вы считаете, что ваще существо готово к боям, то смело загружайте его на сервер, подробнее в разделе <a href="#Запуск">матчей на сервере</a></li>
</ol> 
== Конкретная реализация == 
<br/>
<h2> Запуск матчей на сервере </h2>
