@{
    ViewBag.Title = "Контакты";
}

<h2>Контакты</h2>
<p>По любым вопросам обращайтесь по почте или в скайп с пометкой WarSpot</p>
<ul>
	<li>
	<a href="mailto:graph.di5 на гмейл.ком">graph.di5 на гмейл.ком</a></li></li>
	<li>skype:graph.di5 </li>
</ul>