@model string

@{
    ViewBag.Title = "Warspot";
}

<h2>@ViewBag.Message</h2>
<h3>Награждение победителей турнира по WarSpot состоится в 405 аудитории ММ факультета СПбГУ в пятницу, 26 апреля в 16:30!</h3>
<h3>1 место - сертификат в сети магазинов "Кей" на сумму 3000 рублей!</h3>
<h3>2 место - сертификат в сети магазинов "Кей" на сумму 2000 рублей!</h3>
<h3>3 место - сертификат в сети магазинов "Кей" на сумму 1000 рублей!</h3>
<h3>Вдобавок все победители получают памятный сувенир!</h3>
<p>
	WarSpot - платформа для пошаговой стратегии с заранее известными правилами игрового мира, где поведение играющих сторон программируется участниками заранее. 
  @Html.ActionLink("Подробнее.", "Details")
</p>
