<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WarSpot.Client.XnaClient.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>

  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="WarSpotBinding" sendTimeout="0:1:0" receiveTimeout="0:1:0" hostNameComparisonMode="Exact"
                 closeTimeout="0:1:0" maxBufferSize="1000000" maxBufferPoolSize="1000000" portSharingEnabled="true"
                 openTimeout="0:1:0" maxReceivedMessageSize="1000000" maxConnections="100">
          <security mode="None" />
        </binding>
      </netTcpBinding>
    </bindings>
    <client>
      <endpoint
        address="net.tcp://warspot.cloudapp.net:8000/WarSpotMainUserService"
        binding="netTcpBinding"
        bindingConfiguration="WarSpotBinding"
        contract="WarSpot.Contracts.Service.IWarSpotService"
        name="WarSpotEndpoint" />
    </client>
  </system.serviceModel>
  <userSettings>
    <WarSpot.Client.XnaClient.Settings>
      <setting name="login" serializeAs="String">
        <value />
      </setting>
      <setting name="password" serializeAs="String">
        <value />
      </setting>
    </WarSpot.Client.XnaClient.Settings>
  </userSettings>
</configuration>