@{
    ViewBag.Title = "О проекте";
}

<h2>О нас</h2>
<p>
	Проект <b>WarSpot</b> создаётся силами студентов <a href="http://math.spbu.ru">Математико-Механического факультета</a> и <a href="http://apmath.spbu.ru/">факультета Прикладной Математики и Процессов Управления</a> <a href="http://spbu.ru">СПбГУ</a> под руководством сотрудников компании <a href="http://www.lanit-tercom.com/">«Ланит-Терком»</a> в рамках программы <a href="http://www.lanit-tercom.com/ru/hr/students"> студенческих проектов</a> компании «Ланит-Терком».
</p>
<div class="editor-label"><b>Руководители</b>:
	<ul>
		<li>Иноземцев Дмитрий</li>
		<li>Станислав Сартасов</li>
	</ul></div>
<div class="editor-label"><b>Студенты-участники</b>:
	<ul>
		<li>Белов Никита</li>
		<li>Кавокин Александр</li>
		<li>Ниценко Григорий</li>
		<li>Толстопятов Всеволод</li>
	</ul></div>
