@model string

@{
    ViewBag.Title = "";
}

<h2>@ViewBag.Message</h2>
<p>
	WarSpot представляет собой платформу для пошаговой стратегии с заранее известными правилами игрового мира, где поведение играющих сторон программируется участниками заранее. 
  @Html.ActionLink("Подробнее.", "Details")
</p>
