@model List<WarSpot.WebFace.Models.GameModel>
<table border="0">
  <tr>
	<td>@Html.ActionLink("Новая игра", "Create")
	</td>
  </tr>
</table>
@if (!Model.Any())
{
  <h3>
    Игры отсутствуют.</h3>
}
else
{
  <h3>
    Список игр:</h3>
  <table>
    @foreach (var m in Model)
		{
			Html.DisplayFor(x => m);
		}
  </table>
}
